
  @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/*-----------------------------navbar--------------------------*/
main{
    background-image:  linear-gradient(to bottom,rgba(0, 0, 0, 0.8),rgba(24, 22, 22, 0.8)),
     url(viruses\ banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
}

.navbar{
    height: 85px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    background: rgb(20, 20, 90) !important;
    opacity: 0.8;
    
}
.vertex-logo{
    display: flex;
    flex-wrap: wrap;
}
.vertex-logo img{
    width: 70px;
    height: 70px;
    position: relative;
    top: -3px;
    margin-left: 10px;
    margin-top: -10px;
    animation: mymove 80s infinite;
}
@keyframes mymove {
    50% {transform: rotate(480deg);}
  }
.vertex-logo h4{
  font-family: sans-serif;
  font-size: 30px;
 padding-top: 13px;
  margin-left: 5px;
  font-family: 'Fredoka One', cursive;
}
/* .navlinks{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

} */
.navlinks{
    opacity: none;
}
.navlinks ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 20px;
    }
.navlinks ul li{
    list-style: none;
    margin: 10px;
    font-family: poppins;
}
.navlinks ul li a{
    color: white;
    text-decoration: none;
}
.navlinks ul li a:hover{
    color: greenyellow;
    transition: 0.2s ease-in;
    text-decoration: none;
}
.navlinks ul ul{
    display: none;
   
}
.dropdown-menu li{ 
    font-family: poppins;
  background-color: rgb(25, 25, 65) !important;
 border-radius: 10px;
 font-size: small;
 height: 30px;
 padding: 7px;

}
.navlinks ul li:hover .dropdown-menu{
    display: block;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 40px;
    background-color: #FFF;
}
.login-signup{
    padding-top: 2px;
    margin-right: 20px;
}
.login-signup a button{
    border: 1px solid white;
    border-radius: 10px;
    width: 150px;
    height: 35px;
    background: none;
    text-decoration: none;
    color: white;
    font-family: poppins;
    font-size: 15px;
}
.login-signup a button:hover{
    transition: 0.3s ease-in;
    opacity: 0.8;
    color: rgb(52, 192, 235);
}

    /*------------------------------------banner text----------------------------*/
.banner-text{
    justify-content: center;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    color: white;
    padding-top: 20px;
}
.banner-text h1{
    font-size: 50px;
}
.banner-text img{
    animation: mymove 80s infinite;
}
@keyframes mymove {
    50% {transform: rotate(480deg);}
}
.banner-text-flex{
    display: flex;
    justify-content: space-evenly;
}


/* 
========================
      BUTTON THREE
========================
*/
.btn-three a{
    text-decoration: none;
    color: #FFF;
    font-family: poppins;
}
.btn-three {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
    width: 150px;
}
.btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
}
.btn-three:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
}
.btn-three:hover::after {
    opacity: 1;
    transform: scale(1,1);
}

/*---------------------------------------viruses into---------------------------*/

.viruses-intro{
    /*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,24,121,1) 41%, rgba(0,212,255,1) 100%);*/
    width: 100%;
    height: 600px;
    background-color: #060d58;
    background-image: linear-gradient(160deg, #060d58 34%, #12675f 66%, #1ee460 100%);
}
.viruses-intro{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.virus-headings{
    display: block;
    color: white;
    margin: 20px;
    justify-content: center;
    text-align: center;
}
.virus-headings img{
    margin-top: 10px;
    height: 150px;
    width: 150px;
    animation: mymove 80s infinite;
}
@keyframes mymove {
    50% {transform: rotate(480deg);}
}
.viruses-intro-img{
    justify-content: center;
}
.viruses-intro-img img{
    width: 600px;
    height: 600px;
    padding: 30px;
}
.virus-headings h5{
    font-family: 'Fredoka One', cursive;
    padding: 10px;
    color: greenyellow;
}
.virus-headings h3{
    font-family: 'Fredoka One', cursive;
    padding: 5px;
    color: white;
}
.virus-headings p{
    font-family: poppins;
    font-size: 13px;
    padding: 5px;
    color: white;
}
.virus-headings a button{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Fredoka One', cursive;
    width: 150px;
    height: 50px;
    background-color: rgb(109, 236, 119);
    border: rgb(109, 236, 119);
    border-radius: 10px;
}
.virus-headings a button:hover{
    transition: 0.3s ease-in;
    color: white;
    background-color: rgb(10, 21, 116);
}

/*------------------------------why viruses are dangerous---------------------------*/

.viruses-description{
    width: 100%;
    height: 600px;
    background-color: #060d58;
    background-image: linear-gradient(160deg, #060d58 34%, #12675f 66%, #1ee460 100%);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.description-img img{
    width: 650px;
    height: 600px;
    padding: 30px;
}
.description-headings{
    display: block;
    color: white;
    margin: 20px;
    justify-content: center;
    text-align: center;
}
.description-headings img{
    margin-top: 10px;
    height: 150px;
    width: 150px;
    animation: mymove 80s infinite;
}
@keyframes mymove {
    50% {transform: rotate(480deg);}
}

.description-headings h5{
    font-family: 'Fredoka One', cursive;
    padding: 10px;
    color: greenyellow;
}
.description-headings h3{
    font-family: 'Fredoka One', cursive;
    padding: 5px;
    color: white;
}
.description-headings p{
    font-family: poppins;
    font-size: 13px;
    padding: 5px;
    color: white;
}
.description-headings a button{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Fredoka One', cursive;
    width: 150px;
    height: 50px;
    background-color: rgb(109, 236, 119);
    border: rgb(109, 236, 119);
    border-radius: 10px;
}
.description-headings a button:hover{
    transition: 0.3s ease-in;
    color: white;
    background-color: rgb(10, 21, 116);
}

/*---------------------------------------symptoms of viruses---------------------*/
.symptom-headings{
    justify-content: center;
    text-align: center;
    color: white;
    background-color: #0c2ea7;
    background-image: linear-gradient(160deg, #0c2ea7 0%, #052629 85%);
    width: 100%;
    height: 600px;
    
}
.symptom-headings img{
    justify-content: center;
    margin-top: 13px;
    width: 200px;
    height: 200px;
    animation: mymove 80s infinite;
}
@keyframes mymove {
    50% {transform: rotate(480deg);}
}
.symptom-headings h2{
    font-family: 'Fredoka One', cursive;
    padding: 17px;
    font-size: 40px;
   color: #FFF;
}
.symptom-headings h5{
    font-family: 'Fredoka One', cursive;
    padding: 17px;
   color: #FFF;
   font-size: 25px;
}
.symptom-headings p{
    font-family:poppins;
    padding: 15px;
   color: #FFF;
   font-size: 18px;
   margin: 15px;
}
/*-------------------------------------symptoms card-----------------------------*/
.symptoms-cards{
    background-color: #052629;
    background-image: linear-gradient(160deg, #052629 48%, #0c2ea7 98%);    
    width: 100%;
    height: 100vh;
}
.card{
padding: 10px;
margin-left: 30px;
margin-top: 20px;

}
.card img{
    width: 200px;
    height: 200px;
}
.card:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in;
}
.card-body p{
font-size: 20px;
font-family: poppins;
color: #060d58;
}

/*-----------------------------viruses banner 2(types of viruses)----------------------------*/
#vid-parents{
    position: relative;
    width: 100%;
    height: 260vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
   background-attachment: fixed;
}
#my-vi-child{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: -1;
}
#div-content{
   color: #FFF;
   text-align: center;
   justify-content: center;
}
#div-content img{
    width: 100px;
    margin-top: 10px;
    height: 100px;
    animation: mymove 80s infinite;
}
@keyframes mymove {
    50% {transform: rotate(480deg);}
}
#div-content h1{
    text-align: center;
    justify-content: center;
    color: white;
    font-family: 'Fredoka One', cursive;
    padding-top: 7px;

}
#div-content p{
    text-align: center;
    justify-content: center;
    color: white;
    font-family: poppins;
}

/*--------------------------------tyes of viruses(cards-)----------------------*/
.card-body h5{
    font-family: 'Fredoka One', cursive;
    margin: 5px;
    color: white;
}
.card-body p{
font-size: 13px;
color:gray;
}
.card-body a{
    background:  rgb(109, 236, 119);
    color: white;
    border: none;
}
.card-body a:hover{
    background: none;
   color: white;
   border: 1px solid white;
   box-shadow: 7px 7px 7px black;
}
.cards{
    padding-top: 30px;
    margin-left: 10px;
   box-shadow: 7px 7px 7px black;
   height: 440px;
    
}
.cards:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in;
    cursor: pointer;
}
.cards img{
    height: 250px;
    width: 250px;
    justify-content: center;
    align-items: center;
}

/*-----------------------------------spreading of viruses------------------------------*/
.spreading-of-virus{
    background-color: #0d524b;
    background-image: linear-gradient(160deg, #0d524b 0%, #050e5c 100%);
    width: 100%;
    height: 330px;
    color: #FFF;
    justify-content: center;
    text-align: center;
}
.spreading-of-virus img{
    width: 100px;
    margin-top: 10px;
    height: 100px;
    animation: mymove 80s infinite;
}
@keyframes mymove {
    50% {transform: rotate(480deg);}
}
.spreading-of-virus h2{
    text-align: center;
    justify-content: center;
    color: white;
    font-family: 'Fredoka One', cursive;
    padding-top: 7px;
}
.spreading-of-virus p{
    justify-content: left;
    color: white;
    font-family: poppins;
}
.fa-sharp{
    color: greenyellow !important;
    font-size: 20px;
    margin-right: 7px;
}
.sov-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    background-color: #050e5c;
    background-image: linear-gradient(160deg, #050e5c 0%, #0d524b 100%);    
    width: 100%;
    height: 250px;
    color: #FFF;
}
.sov-content-task{
color: white;
width: 300px;
margin-top: 15px;
height: 217px;
background-color: #050e5c;
background-image: linear-gradient(160deg, #050e5c 0%, #0d524b 100%);
border-radius: 20px;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.sov-content-task img{
    height: 150px;
    width: 150px;
}
.sov-content-task p{
    font-family: poppins;
}
/*------------------------prevention section----------------------*/
.prevention-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #0d524b;
background-image: linear-gradient(160deg, #0d524b 0%, #050e5c 100%);
width: 100%;
height: 730px;
}
.prevention-heading{
    padding-top: 40px;
    justify-content: center;
    color: white;
}
.prevention-heading img{
    width: 150px;
    margin-top: 10px;
    height: 150px;
    animation: mymove 80s infinite;
}
@keyframes mymove {
    50% {transform: rotate(480deg);}
}
.prevention-heading h2{
    color: white;
    font-family: 'Fredoka One', cursive;
    padding-top: 40px;
}
.prevention-heading p{
    font-family: poppins;
    color: white;
}
.prevention-images{
    width: 150px;
    height: 150px;
    padding-top: 10px;
}
.prevention-images img{
    display: block;
    margin-top: 23px;
    height: 130px;
    width: 130px;
}
.prevention-images p{
    text-align: center;
    color: white;
    font-size: 'Fredoka One', cursive;
}
.fa-solid{
    color: greenyellow !important;
}
/*-------------------------------------faq section-----------------------*/
.FAQ-section{
    background-image:  linear-gradient(to bottom,rgba(0, 0, 0, 0.8),rgba(24, 22, 22, 0.8)),
    url(banner3.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150vh;
    height: 150vh;
    background-attachment: fixed;
    justify-content: center;
    text-align: center;
}
.FAQ-section img{
    width: 150px;
    margin-top: 10px;
    height: 150px;
    animation: mymove 80s infinite;
}
.FAQ-section h1{
    color: white;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    justify-content: center;
    font-size: 72px;
    background: -webkit-linear-gradient(rgb(34, 104, 211), rgb(119, 235, 129));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@keyframes mymove {
    50% {transform: rotate(480deg);}
}
.accordion-item{
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    width: 700px;
    margin-left: 250px;
}
/*-------------------------------footer----------------------*/
.footer-section{
    background-color: #0d524b;
    background-image: linear-gradient(160deg, #0d524b 0%, #050e5c 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
    background-attachment: fixed;
}
.footer{
    display: flex;
}
.vertex-logo-footer{
    display: flex;
    flex-wrap: wrap;
}
.vertex-logo-footer img{
    width: 70px;
    height: 70px;
    margin-left: 10px;
    margin-top: 20px;
    animation: mymove 80s infinite;
}
@keyframes mymove {
    50% {transform: rotate(480deg);}
  }
  .vertex-logo-footer h4{
    font-size: 30px;
padding-top: 40px;
    margin-left: 5px;
    font-family: 'Fredoka One', cursive;
  }
  .footer-paragraph p{
    color: white;
    font-family: poppins;
    margin: 15px;
    font-size: 15px;
  }
  .footer-paragraph h5{
    font-family: poppins;
    color: white;
    font-size: 14px;
    margin-left: 15px;
  }
  
  
  .footer-paragraph .fa-brands {
    /* padding-top: 4px;
    color: gray;
    margin: 5px;
    font-size: 20px;
    margin: 10px; */

    height: 40px;
    width: 40px;
    background-color: rgb(53, 53, 243);
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 3px;
    transition: .4s;
    /* margin-left: 20px; */
}
/* .footer-paragraph .fa-brands a:hover{ */
    /* transition: 0.3s ease-in;
    cursor: pointer;
    color: #FFF;
    font-size: 23px; */

    /* transform: scale(1.2);
    color: black;
    background-color: white; */
   
 
.fa-brands:hover{
    color: black !important;
    background-color: white !important;
    transform: scale(1.2);
}
.footer2{
    display: flex;
    color: #FFF;
    justify-content: space-evenly;
}
.footer2 ul li{
    list-style: none;
    line-height: 40px;
    font-size: 15px !important;
    font-family: poppins;
}
.footer2 ul li:hover{
cursor: pointer;
font-weight: 700;
text-decoration: underline;
font-size: 15px !important;

}
.footer2 ul h3{
    font-family: 'fredoka One', cursive;
    font-size: 18px;
    color: greenyellow;
    letter-spacing: 1px;
}
.footer2 ul h4{
    font-family: raleway;
    font-size: 22px;
    margin-top: 20px;
    font-weight: 650;
}
.copyright{
    text-align: center;
    justify-content: center;
    color: gainsboro;
    font-family: poppins;
    opacity: 0.4;
}
.copyright h5{
    font-size: 13px;
    margin-top: 20px;
}








/* media qquery */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .banner-text{
        justify-content: center;
        text-align: center;
        font-family: 'Fredoka One', cursive;
        color: white;
        /* padding-top: 20px; */
    }
    .banner-text h1{
        font-size: 5px;
        
    }
    .banner-text img{
        animation: mymove 80s infinite;
        height: 80px;
        width: 80px;
    }
    @keyframes mymove {
        50% {transform: rotate(480deg);}
    }
    .banner-text-flex{
        display: flex;
        justify-content: space-evenly;
    }
    

}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */
