@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,800;0,900;1,100&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nanum+Myeongjo:wght@800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------------------------navbar--------------------------*/


.navbar{
    height: 100% !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    background: rgb(20, 20, 90);
    opacity: 0.8;
    
}
.vertex-logo{
    display: flex;
    flex-wrap: wrap;
}
.vertex-logo img{
    width: 70px;
    height: 70px;
    position: relative;
    top: -3px;
    margin-left: 10px;
    margin-top: -10px;
    animation: mymove 80s infinite;
}
@keyframes mymove {
    50% {transform: rotate(480deg);}
  }
.vertex-logo h4{
  font-family: sans-serif;
  font-size: 30px;
  padding-top: 13px;
  margin-left: 5px;
  font-family: 'Fredoka One', cursive;
}
/*.navlinks{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}*/
.navlinks{
    opacity: none;
}
.navlinks ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 20px;
    }
.navlinks ul li{
    list-style: none;
    margin: 10px;
    font-family: poppins;
}
.navlinks ul li a{
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
}
.navlinks ul li a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #FFF;
    border-radius: 4px;
    scale: 0.1;
    transform-origin: left;
    transition: scale 0.25s;
}
.navlinks ul li a:hover::before{
    scale: 1;
}
/*.navlinks ul li a:hover{
    color: rgb(52, 192, 235);
    transition: 0.3s ease-in;
    border-bottom: 2px solid rgb(52, 192, 235) ;
}*/
.navlinks ul ul{
    display: none;
}
.dropdown-menu li{ 
    font-family: poppins;
  background-color: rgb(25, 25, 65);
 border-radius: 10px;
 font-size: small;
 height: 30px;
 padding: 7px;

}
.navlinks ul li:hover .dropdown-menu{
    display: block;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 40px;
    background-color:  rgb(20, 20, 90);
  
}
.login-signup{
    padding-top: 2px;
    margin-right: 20px;
}
.login-signup a button{
    border: 1px solid white;
    border-radius: 10px;
    width: 150px;
    height: 35px;
    background: none;
    text-decoration: none;
    color: white;
    font-family: poppins;
    font-size: 15px;
}
.login-signup a button:hover{
    transition: 0.3s ease-in;
    opacity: 0.8;
    color: rgb(52, 192, 235);
}
.fa-brands{
    padding-top: 4px;
    color: white;
    margin: 5px;
    font-size: 20px;
}
.fa-brands:hover{
    transition: 0.3s ease-in;
    color: grey;
    cursor: pointer;
} 
/* navbar sec end */
.parent{
background-image:  linear-gradient(to bottom,rgba(0, 0, 0, 0.8),rgba(24, 22, 22, 0.8)),
url(banner12.jpg);
   height: 80vh;
   background-image: cover;
   background-position: center;
   background-attachment: fixed;
   }
   .child{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-family: 'Fredoka One', cursive;
}
.parent h1{
    font-size: 60px;
}
.intro1 h1{
    font-family: 'Nanum Myeongjo', serif;
}
.intro1 h4{
    font-family: poppins;
    color: darkblue;
}
.intro1 p{
    font-family: 'Quicksand', sans-serif;
}
.intro1 img{
    border-radius: 50%;
}
.card-sec h1{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 40px;
}
.card{
    border: none;
    background: rgb(174,223,238);
background: radial-gradient(circle, rgba(174,223,238,1) 0%, rgba(220,223,228,1) 0%);
box-shadow: 5px 5px 8px rgba(0,0,0,0.5);
align-items: center;
 }
 .card img{
    width: 150px;
    height: 150px;
 }
 .card h4{
    font-family: 'fredoka one' ,cursive;
    font-weight: 700;
    color:rgb(71, 71, 128) !important;
    letter-spacing: 1px;
    position: relative;
}
 .card h4::before{
    content: '';
    position: absolute;
    left: 6px;
    bottom: 0;
    width: 63px;
    height: 3px;
    background-color: darkblue;

    }
.card p{
    font-family: Quicksand;
    color: black;
}
.card h4{
    font-family: 'fredoka one' ,cursive;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.8);
}
.card:hover{
    transform: translateY(-15%);
      will-change: transform;
      transition: transform .45s cubic-bezier(0.18, 0.9, 0.58, 1);
    cursor: pointer;
}

.table h1{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 45px;
}
#customers {
    font-family: poppins;
    border-collapse: collapse;
    width: 100%;
  }
#customers tr th{
    text-align: center;
    justify-content: center;
    font-family: quicksand;
    font-weight: 300;
    letter-spacing: 1px;
}
  
#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#customers tr:nth-child(even){background-color: #f2f2f2;}
  
#customers tr:hover {background-color: #ddd;}
  
#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #352e6e;
    color: white;
}

.graph h1{
    font-family: 'Nanum Myeongjo', serif;
}
.graph h1 span{
    color: darkblue;
}
.graph img{
    width: 100%;
    height: 180vh;
}
.vaccine h1{
    font-family: 'Nanum Myeongjo', serif;
}
.vaccine h1 span{
    color: darkblue;
}
.vaccine p{
    font-family: quicksand;
}
.vaccine img{
    border-radius: 50%;
}
















#m-vid-parents{
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: overlay;
   background-attachment: fixed;
}
#m-vid-child{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: -1;
}
#m-vid-parents h3{
    text-align: center;
    justify-content: center;
    color: white;
    font-family: 'Fredoka One' ,cursive;
    padding-top: 60px;
    letter-spacing: 1px;
    font-size: 40px;
    text-shadow: 5px 5px 10px black;
}
.buttons{
    text-align: center;
}
/* 
========================
      BUTTON THREE
========================
*/
.color{
    color: #FFF !important;
}
.btn-three button{
    text-decoration: none;
    color: #FFF;
    font-family: poppins;
    background: none;
    border: none;
}
.btn-three {
    color: #FFF !important;
    transition: all 0.5s;
    position: relative;
    width: 150px;
}
.btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
}
.btn-three:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
}
.btn-three:hover::after {
    opacity: 1;
    transform: scale(1,1);
}


/*-------------------------------footer----------------------*/
.footer-section{
    background: rgb(77,184,195);
    background: linear-gradient(90deg, rgba(77,184,195,1) 0%, rgba(3,3,79,1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
    background-attachment: fixed;
}
.footer{
    display: flex;
}
.vertex-logo-footer{
    display: flex;
    flex-wrap: wrap;
}
.vertex-logo-footer img{
    width: 70px;
    height: 70px;
    margin-left: 10px;
    margin-top: 20px;
    animation: mymove 80s infinite;
}
@keyframes mymove {
    50% {transform: rotate(480deg);}
  }
  .vertex-logo-footer h4{
    font-size: 30px;
padding-top: 40px;
    margin-left: 5px;
    font-family: 'Fredoka One', cursive;
  }
  .footer-paragraph p{
    color: white;
    font-family: poppins;
    margin: 15px;
    font-size: 15px;
  }
  .footer-paragraph h5{
    font-family: poppins;
    color: white;
    font-size: 14px;
    margin-left: 15px;
  }
  
  
  .footer-paragraph .fa-brands {
    /* padding-top: 4px;
    color: gray;
    margin: 5px;
    font-size: 20px;
    margin: 10px; */

    height: 40px;
    width: 40px;
    /*background-color: rgb(53, 53, 243);*/
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 3px;
    transition: .4s;
    /* margin-left: 20px; */
}
/* .footer-paragraph .fa-brands a:hover{ */
    /* transition: 0.3s ease-in;
    cursor: pointer;
    color: #FFF;
    font-size: 23px; */

    /* transform: scale(1.2);
    color: black;
    background-color: white; */
   
 
.fa-brands:hover{
    color: black !important;
    background-color: white !important;
    transform: scale(1.2);
}
.footer2{
    display: flex;
    color: #FFF;
    justify-content: space-evenly;
}
.footer2 ul li{
    list-style: none;
    line-height: 40px;
    font-size: 15px !important;
    font-family: poppins;
}
.footer2 ul li:hover{
cursor: pointer;
font-weight: 700;
text-decoration: underline;
font-size: 15px !important;

}
.footer2 ul h3{
    font-family: 'fredoka One', cursive;
    font-size: 18px;
    color: greenyellow;
    letter-spacing: 1px;
}
.footer2 ul h4{
    font-family: raleway;
    font-size: 22px;
    margin-top: 20px;
    font-weight: 650;
}
.copyright{
    text-align: center;
    justify-content: center;
    color: gainsboro;
    font-family: poppins;
    opacity: 0.4;
}
.copyright h5{
    font-size: 13px;
    margin-top: 20px;
}

.animate__animated .animate__fadeInLeft{
    animation-duration: 800ms;
    animation-delay: 0.9s;
   
}
